<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Info</key>
	<dict>
		<key>StageNum</key>
		<integer>8</integer>
	</dict>
	<key>1</key>
	<dict>
		<key>PositionX</key>
		<integer>149</integer>
		<key>PositionY</key>
		<integer>246</integer>
		<key>MapName</key>
		<string>sample.tmx</string>
		<key>Tutorial</key>
		<dict/>
		<key>Point</key>
		<integer>0</integer>
		<key>Life</key>
		<integer>3</integer>
		<key>Money</key>
		<integer>100</integer>
		<key>isCleared</key>
		<true/>
		<key>WarriorList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>0</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>5</integer>
			</dict>
		</dict>
		<key>TileList</key>
		<dict/>
	</dict>
	<key>2</key>
	<dict>
		<key>PositionX</key>
		<integer>68</integer>
		<key>PositionY</key>
		<integer>193</integer>
		<key>MapName</key>
		<string>sample.tmx</string>
		<key>Tutorial</key>
		<dict/>
		<key>Point</key>
		<integer>0</integer>
		<key>Life</key>
		<integer>2</integer>
		<key>Money</key>
		<integer>100</integer>
		<key>isCleared</key>
		<false/>
		<key>WarriorList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>3</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Time</key>
				<integer>5</integer>
			</dict>
		</dict>
		<key>TileList</key>
		<dict/>
	</dict>
	<key>3</key>
	<dict>
		<key>PositionX</key>
		<integer>109</integer>
		<key>PositionY</key>
		<integer>76</integer>
		<key>MapName</key>
		<string>sample.tmx</string>
		<key>Tutorial</key>
		<dict/>
		<key>Point</key>
		<integer>0</integer>
		<key>Life</key>
		<integer>2</integer>
		<key>Money</key>
		<integer>50</integer>
		<key>isCleared</key>
		<false/>
		<key>WarriorList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Time</key>
				<integer>0</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>5</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>Type</key>
				<integer>2</integer>
				<key>Time</key>
				<integer>8</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Time</key>
				<integer>12</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>15</integer>
			</dict>
		</dict>
		<key>TileList</key>
		<dict/>
	</dict>
	<key>4</key>
	<dict>
		<key>PositionX</key>
		<integer>192</integer>
		<key>PositionY</key>
		<integer>100</integer>
		<key>MapName</key>
		<string>sample.tmx</string>
		<key>Tutorial</key>
		<dict/>
		<key>Point</key>
		<integer>0</integer>
		<key>Life</key>
		<integer>2</integer>
		<key>Money</key>
		<integer>50</integer>
		<key>isCleared</key>
		<false/>
		<key>WarriorList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Time</key>
				<integer>0</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>5</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>Type</key>
				<integer>2</integer>
				<key>Time</key>
				<integer>8</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Time</key>
				<integer>12</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>15</integer>
			</dict>
		</dict>
		<key>TileList</key>
		<dict/>
	</dict>
	<key>5</key>
	<dict>
		<key>PositionX</key>
		<integer>245</integer>
		<key>PositionY</key>
		<integer>103</integer>
		<key>MapName</key>
		<string>sample.tmx</string>
		<key>Tutorial</key>
		<dict/>
		<key>Point</key>
		<integer>0</integer>
		<key>Life</key>
		<integer>2</integer>
		<key>Money</key>
		<integer>50</integer>
		<key>isCleared</key>
		<false/>
		<key>WarriorList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Time</key>
				<integer>0</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>5</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>Type</key>
				<integer>2</integer>
				<key>Time</key>
				<integer>8</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Time</key>
				<integer>12</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>15</integer>
			</dict>
		</dict>
		<key>TileList</key>
		<dict/>
	</dict>
	<key>6</key>
	<dict>
		<key>PositionX</key>
		<integer>283</integer>
		<key>PositionY</key>
		<integer>242</integer>
		<key>MapName</key>
		<string>sample.tmx</string>
		<key>Tutorial</key>
		<dict/>
		<key>Point</key>
		<integer>0</integer>
		<key>Life</key>
		<integer>2</integer>
		<key>Money</key>
		<integer>50</integer>
		<key>isCleared</key>
		<false/>
		<key>WarriorList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Time</key>
				<integer>0</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>5</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>Type</key>
				<integer>2</integer>
				<key>Time</key>
				<integer>8</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Time</key>
				<integer>12</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>15</integer>
			</dict>
		</dict>
		<key>TileList</key>
		<dict/>
	</dict>
	<key>7</key>
	<dict>
		<key>PositionX</key>
		<integer>354</integer>
		<key>PositionY</key>
		<integer>174</integer>
		<key>MapName</key>
		<string>sample.tmx</string>
		<key>Tutorial</key>
		<dict/>
		<key>Point</key>
		<integer>0</integer>
		<key>Life</key>
		<integer>2</integer>
		<key>Money</key>
		<integer>50</integer>
		<key>isCleared</key>
		<false/>
		<key>WarriorList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Time</key>
				<integer>0</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>5</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>Type</key>
				<integer>2</integer>
				<key>Time</key>
				<integer>8</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Time</key>
				<integer>12</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>15</integer>
			</dict>
		</dict>
		<key>TileList</key>
		<dict/>
	</dict>
	<key>8</key>
	<dict>
		<key>PositionX</key>
		<integer>394</integer>
		<key>PositionY</key>
		<integer>76</integer>
		<key>MapName</key>
		<string>sample.tmx</string>
		<key>Tutorial</key>
		<dict/>
		<key>Point</key>
		<integer>0</integer>
		<key>Life</key>
		<integer>2</integer>
		<key>Money</key>
		<integer>50</integer>
		<key>isCleared</key>
		<false/>
		<key>WarriorList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Time</key>
				<integer>0</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>5</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>Type</key>
				<integer>2</integer>
				<key>Time</key>
				<integer>8</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Time</key>
				<integer>12</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>15</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
