<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Info</key>
	<dict>
		<key>StageNum</key>
		<integer>3</integer>
	</dict>
	<key>1</key>
	<dict>
		<key>MapName</key>
		<string>sample.tmx</string>
		<key>Tutorial</key>
		<dict/>
		<key>Point</key>
		<integer>0</integer>
		<key>Life</key>
		<integer>2</integer>
		<key>Money</key>
		<integer>100</integer>
		<key>isCleared</key>
		<false/>
		<key>WarriorList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>0</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>5</integer>
			</dict>
		</dict>
		<key>TileList</key>
		<dict/>
	</dict>
	<key>2</key>
	<dict>
		<key>MapName</key>
		<string>sample.tmx</string>
		<key>Tutorial</key>
		<dict/>
		<key>Point</key>
		<integer>0</integer>
		<key>Life</key>
		<integer>2</integer>
		<key>Money</key>
		<integer>100</integer>
		<key>isCleared</key>
		<false/>
		<key>WarriorList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>3</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Time</key>
				<integer>5</integer>
			</dict>
		</dict>
		<key>TileList</key>
		<dict/>
	</dict>
	<key>3</key>
	<dict>
		<key>MapName</key>
		<string>sample.tmx</string>
		<key>Tutorial</key>
		<dict/>
		<key>Point</key>
		<integer>0</integer>
		<key>Life</key>
		<integer>2</integer>
		<key>Money</key>
		<integer>50</integer>
		<key>isCleared</key>
		<false/>
		<key>WarriorList</key>
		<dict>
			<key>0</key>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Time</key>
				<integer>0</integer>
			</dict>
			<key>1</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>5</integer>
			</dict>
			<key>2</key>
			<dict>
				<key>Type</key>
				<integer>2</integer>
				<key>Time</key>
				<integer>8</integer>
			</dict>
			<key>3</key>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Time</key>
				<integer>12</integer>
			</dict>
			<key>4</key>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Time</key>
				<integer>15</integer>
			</dict>
		</dict>
		<key>TileList</key>
		<dict/>
	</dict>
</dict>
</plist>
