<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StageLevel</key>
	<integer>1</integer>
	<key>StartPointX</key>
	<integer>10</integer>
	<key>StartPointY</key>
	<integer>0</integer>
	<key>EndPointX</key>
	<integer>16</integer>
	<key>EndPointY</key>
	<integer>7</integer>
	<key>WarriorList</key>
	<dict>
		<key>10</key>
		<dict>
			<key>name</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>4</integer>
		</dict>
		<key>9</key>
		<dict>
			<key>name</key>
			<integer>2</integer>
			<key>speed</key>
			<integer>2</integer>
		</dict>
		<key>8</key>
		<dict>
			<key>name</key>
			<integer>0</integer>
			<key>speed</key>
			<integer>3</integer>
		</dict>
		<key>7</key>
		<dict>
			<key>name</key>
			<integer>0</integer>
			<key>speed</key>
			<integer>3</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>name</key>
			<integer>0</integer>
			<key>speed</key>
			<integer>3</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>name</key>
			<integer>0</integer>
			<key>speed</key>
			<integer>3</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>name</key>
			<integer>0</integer>
			<key>speed</key>
			<integer>4</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>name</key>
			<integer>0</integer>
			<key>speed</key>
			<integer>3</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>name</key>
			<integer>2</integer>
			<key>speed</key>
			<integer>2</integer>
		</dict>
		<key>0</key>
		<dict>
			<key>name</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>4</integer>
		</dict>
		<key>1</key>
		<dict>
			<key>name</key>
			<integer>0</integer>
			<key>speed</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
