<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Warrior</key>
	<dict>
		<key>acher</key>
		<dict>
			<key>strength</key>
			<integer>100</integer>
			<key>power</key>
			<integer>15</integer>
			<key>intellect</key>
			<integer>50</integer>
			<key>defense</key>
			<integer>10</integer>
			<key>speed</key>
			<integer>2</integer>
			<key>range</key>
			<integer>3</integer>
		</dict>
		<key>fighter</key>
		<dict>
			<key>strength</key>
			<integer>120</integer>
			<key>power</key>
			<integer>20</integer>
			<key>intellect</key>
			<integer>40</integer>
			<key>defense</key>
			<integer>12</integer>
			<key>speed</key>
			<integer>4</integer>
			<key>range</key>
			<integer>1</integer>
		</dict>
		<key>mage</key>
		<dict>
			<key>strength</key>
			<integer>90</integer>
			<key>power</key>
			<integer>17</integer>
			<key>intellect</key>
			<integer>90</integer>
			<key>defense</key>
			<integer>10</integer>
			<key>speed</key>
			<integer>1</integer>
			<key>range</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>Monster</key>
	<dict>
		<key>vampire</key>
		<dict>
			<key>strength</key>
			<integer>110</integer>
			<key>power</key>
			<integer>15</integer>
			<key>intellect</key>
			<integer>60</integer>
			<key>defense</key>
			<integer>12</integer>
			<key>speed</key>
			<integer>1</integer>
			<key>range</key>
			<integer>1</integer>
		</dict>
		<key>skeleton</key>
		<dict>
			<key>strength</key>
			<integer>80</integer>
			<key>power</key>
			<integer>12</integer>
			<key>intellect</key>
			<integer>50</integer>
			<key>defense</key>
			<integer>10</integer>
			<key>speed</key>
			<integer>1</integer>
			<key>range</key>
			<integer>1</integer>
		</dict>
		<key>spirite</key>
		<dict>
			<key>strength</key>
			<integer>90</integer>
			<key>power</key>
			<integer>15</integer>
			<key>intellect</key>
			<integer>50</integer>
			<key>defense</key>
			<integer>11</integer>
			<key>speed</key>
			<integer>2</integer>
			<key>range</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
