<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>64</integer>
		<key>height</key>
		<integer>64</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>tile-floor-0.png</key>
		<dict>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>10</integer>
			<key>width</key>
			<integer>8</integer>
			<key>height</key>
			<integer>7</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>8</integer>
			<key>originalHeight</key>
			<integer>8</integer>
		</dict>
		<key>tile-object-2.png</key>
		<dict>
			<key>x</key>
			<integer>37</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>8</integer>
			<key>height</key>
			<integer>8</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>8</integer>
			<key>originalHeight</key>
			<integer>8</integer>
		</dict>
		<key>tile-object-4.png</key>
		<dict>
			<key>x</key>
			<integer>19</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>8</integer>
			<key>height</key>
			<integer>8</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>8</integer>
			<key>originalHeight</key>
			<integer>8</integer>
		</dict>
		<key>tile-object-3.png</key>
		<dict>
			<key>x</key>
			<integer>28</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>8</integer>
			<key>height</key>
			<integer>8</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>8</integer>
			<key>originalHeight</key>
			<integer>8</integer>
		</dict>
		<key>tile-object-1.png</key>
		<dict>
			<key>x</key>
			<integer>47</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>6</integer>
			<key>height</key>
			<integer>8</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>8</integer>
			<key>originalHeight</key>
			<integer>8</integer>
		</dict>
		<key>tile-wall-2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>8</integer>
			<key>height</key>
			<integer>8</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>8</integer>
			<key>originalHeight</key>
			<integer>8</integer>
		</dict>
		<key>tile-wall-1.png</key>
		<dict>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>8</integer>
			<key>height</key>
			<integer>8</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>8</integer>
			<key>originalHeight</key>
			<integer>8</integer>
		</dict>
		<key>tile-floor-2.png</key>
		<dict>
			<key>x</key>
			<integer>55</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>8</integer>
			<key>height</key>
			<integer>8</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>8</integer>
			<key>originalHeight</key>
			<integer>8</integer>
		</dict>
		<key>tile-floor-1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>10</integer>
			<key>width</key>
			<integer>8</integer>
			<key>height</key>
			<integer>8</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>8</integer>
			<key>originalHeight</key>
			<integer>8</integer>
		</dict>
	</dict>
</dict>
</plist>