<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>64</integer>
		<key>height</key>
		<integer>64</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>mage</key>
		<dict>
			<key>character-mage-idle-1.png</key>
			<dict>
				<key>x</key>
				<integer>10</integer>
				<key>y</key>
				<integer>1</integer>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
			</dict>
			<key>character-mage-idle-2.png</key>
			<dict>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<integer>1</integer>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
			</dict>
			<key>character-mage-attack-2.png</key>
			<dict>
				<key>x</key>
				<integer>19</integer>
				<key>y</key>
				<integer>1</integer>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
			</dict>
			<key>character-mage-attack-1.png</key>
			<dict>
				<key>x</key>
				<integer>28</integer>
				<key>y</key>
				<integer>1</integer>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
			</dict>
		</dict>
		<key>fighter</key>
		<dict>
			<key>character-fighter-attack-1.png</key>
			<dict>
				<key>x</key>
				<integer>11</integer>
				<key>y</key>
				<integer>10</integer>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>8</integer>
			</dict>
			<key>character-fighter-idle-2.png</key>
			<dict>
				<key>x</key>
				<integer>37</integer>
				<key>y</key>
				<integer>1</integer>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>8</integer>
			</dict>
			<key>character-fighter-attack-2.png</key>
			<dict>
				<key>x</key>
				<integer>1</integer>
				<key>y</key>
				<integer>10</integer>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>8</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>8</integer>
			</dict>
			<key>character-fighter-idle-1.png</key>
			<dict>
				<key>x</key>
				<integer>46</integer>
				<key>y</key>
				<integer>1</integer>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>8</integer>
			</dict>
		</dict>
		<key>acher</key>
		<dict>
			<key>character-acher-idle-1.png</key>
			<dict>
				<key>x</key>
				<integer>29</integer>
				<key>y</key>
				<integer>10</integer>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
			</dict>
			<key>character-acher-idle-2.png</key>
			<dict>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<integer>10</integer>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
			</dict>
			<key>character-acher-attack-1.png</key>
			<dict>
				<key>x</key>
				<integer>47</integer>
				<key>y</key>
				<integer>10</integer>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
			</dict>
			<key>character-acher-attack-2.png</key>
			<dict>
				<key>x</key>
				<integer>38</integer>
				<key>y</key>
				<integer>10</integer>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>8</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>8</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
