<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>tile-wall0000.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 0}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{16, 0}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{24, 0}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{32, 0}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{40, 0}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{48, 0}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0007.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 0}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0008.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 0}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0009.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 0}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0010.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 0}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0011.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 0}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0012.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 0}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0013.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 0}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0014.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 0}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0015.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 0}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0016.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 8}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0017.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 8}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0018.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{16, 8}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0019.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{24, 8}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0020.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{32, 8}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0021.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{40, 8}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0022.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{48, 8}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0023.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{56, 8}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0024.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 8}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0025.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 8}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0026.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 8}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0027.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 8}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0028.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 8}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0029.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 8}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0030.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 8}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0031.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 8}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0032.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 16}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0033.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{8, 16}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0034.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{16, 16}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0035.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{24, 16}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0036.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{32, 16}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0037.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{40, 16}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tile-wall0038.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {8, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{8, 8}</string>
			<key>spriteSourceSize</key>
			<string>{8, 8}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{48, 16}, {8, 8}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{128, 128}</string>
		<key>name</key>
		<string>tile-wall</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>